*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(169, 212, 198);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header h1{
    font-size: 45px;
}

header{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header button{
    background-color: rgb(86, 223, 223);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover{
    background-color: rgb(125, 253, 253)
}

form{
    display: flex;
}

form input:focus{
    background-color: rgba(185, 201, 107, 0.5);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.container{
    display: flex;
    margin-bottom: 12px;
    width: 65vw;
    background-color: antiquewhite;
    padding: 25px;
    border: 2px solid #fff;
    justify-content: space-evenly;
}

form input{
    font-size: 3vw;
    background-color: rgba(185, 201, 107, 0.5);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    width: 30vw;
    margin: 4px 0;
    height: 6vh;
}

form button{
    background-color: green;
    border: none;
    cursor: pointer;
    font-size: 3vw;
    color: blanchedalmond;
    margin-left: 12px;
    border-radius: 5px;
}

#cancelar{
    background-color: red;
}

form button:hover{
    background-color: rgb(72, 185, 72);
}

li label{
    margin-left: 4px;
}

.tarefas{
    display: flex;
    align-items: center;
    font-size: 34px;
    margin: 14px;
    border-bottom: 1px solid #4e494970;
    justify-content: space-evenly;
}

.concluido{
    text-decoration: line-through;
    color: green;
}