*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho li{
    display: inline-block;
    margin-left: 10px;
}

.cabecalho a{
    text-decoration: none;
    color: green;
}

.cabecalho header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
}

.cabecalho{
    width: 100vw;
    background-color: #363434;
}

.cabecalho h1{
    color: white;
}

.container{
    width: 100vw;
    margin-top: 2vh;
}


.articles{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.articles article{
    width: 30vw;
    margin: 0 auto;
    margin-bottom: 1vh;
}

article img{
    width: 30vw;
    height: 30vh;
}
section a{
    text-decoration: none;
    color: white;
}
section a:hover{
    text-decoration: underline;
}

section h2{
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: 20pt;
}
section h3{
    font-size: 14pt;
}

#esporte{
    background-color: rgba(0,255,0, 0.3);
}
#esporte h2{
    color: green;
}

#esporte a{
    background-color: green;
}

#economia{
    background-color: rgb(245, 245, 205);
}
#economia h2{
    color:rgb(172, 147, 7);
}
#economia a{
    background-color: rgb(172, 147, 7);
}

#tecnologia{
    background-color: rgb(142, 142, 199);
}

#tecnologia h2{
    color: rgb(14, 14, 190);
}

#tecnologia a{
    background-color: blue;
}

#cinema{
    background-color: rgb(230, 158, 158);
}

#cinema h2{
    color: rgb(187, 14, 14);
}

#cinema a{
    background-color: rgb(252, 16, 16);
}