body{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

form input{
    margin-bottom: 5px;
    text-align: center;
}
.pricipal{
    height: 100vh;
    width: 100vh;
    
    
}
.submit{
    background-color: green;
    width: 10vh;
}
.reset{
    background-color: red;
    width: 10vh;
}
button{
    color:white;
    margin:2px;
}
.botoes{
    height: 4vh;
    width: 30vh;
    justify-content: center;
    display: grid;
}
.form{
    width: 40vh;
    justify-content: center;
}